#upload-topology-form {
  margin-bottom: 0px;
}

#topology-list {
  margin-bottom: 30px;
}

#topology-list table {
  margin: 0;
}

#topology-list .log-list {
  font-size: 10px;
  height: 300px;
  overflow-y: scroll;
  overflow-x: hidden;
  box-shadow: 0 0 2px #ddd;
}

#topology-list .time {
  width: 150px;
}

#topology-list .bolt {
  width: 200px;
}

#topology-list ul {
  font-size: 14px;
  list-style: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

#topology-list ul li {
  margin: 3px 5px 5px;
  padding: 3px 15px;
  float: left;
  box-shadow: 0 0 2px #ccc;
  cursor: pointer;
  font-weight: bold;
  max-width: 150px;
  height: 27px;
  white-space: nowrap;
  overflow: hidden;
  -webkit-transition: all 0.1s ease-in-out;
  -moz-transition: all 0.1s ease-in-out;
  -o-transition: all 0.1s ease-in-out;
  -ms-transition: all 0.1s ease-in-out;
  transition: all 0.1s ease-in-out;
}

#topology-list ul li.input-filter {
  margin: 3px 5px 5px;
  padding: 0 3px;
  float: left;
  height: 27px;
  max-width: none;
  box-shadow: none;
  cursor: default;
  height: 27px;
  box-shadow: 0 0 2px #ccc;
}

#topology-list ul li.input-filter input {
  padding: 3px;
  border: none;
  background: transparent none;
}

#topology-list ul li:hover {
  background: #428bca;
  color: #fff;
}

.login-form {
  margin-top: 50px;
}

.margin-right {
  margin-right: 10px;
}

.col-centered {
  float: none;
  margin: 0 auto;
}

.online {
  font-weight: bold;
  color: #008800;
}

.offline {
  font-weight: bold;
  color: #cc0000;
}

.panel-body .table {
  margin-bottom: 0;
}

body.test {
  background: url('/assets/images/topology.png') no-repeat center center fixed;;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.rotating {
  -webkit-animation:spin 4s linear infinite;
  -moz-animation:spin 4s linear infinite;
  animation:spin 4s linear infinite;
}
@-moz-keyframes spin { 100% { -moz-transform: rotate(360deg); } }
@-webkit-keyframes spin { 100% { -webkit-transform: rotate(360deg); } }
@keyframes spin { 100% { -webkit-transform: rotate(360deg); transform:rotate(360deg); } }

.rotating:before {
  content: "\e019" !important;
}