<div id="topology-list" class="col-md-12">
  <ul class="filter">
    <li data-filter-value="*">Alles</li>
    <li data-filter-value="Schnitzel">Schnitzel</li>
    <li data-filter-value="Gemüse">Gemüse</li>
    <li data-filter-value="Steak">Steak</li>
    <li data-filter-value="danger" class="pull-right">Fehler</li>
  </ul>
  <div class="log-list">
    <table class="table table-striped table-hover">
      <thead>
        <tr>
          <th class="time">Zeit</th>
          <th class="bolt">Bolt</th>
          <th class="message">Message</th>
        </tr>
      </thead>
      <tbody>
        <tr class="danger Schnitzel"><td>2014-03-12 13:07</td><td>Schnitzel</td><td>Verbrannt .... T_T</td></tr>
        <tr class="Steak"><td>2014-03-12 13:05</td><td>Steak</td><td>Super lecker und teuer</td></tr>
        <tr class="Gemüse"><td>2014-03-12 13:02</td><td>Gemüse</td><td>Wer will das schon</td></tr>
        <tr class="Schnitzel"><td>2014-03-12 13:01</td><td>Schnitzel</td><td>All you can eat</td></tr>
        <tr class="Gemüse"><td>2014-03-12 13:01</td><td>Gemüse</td><td>All you can eat</td></tr>
        <tr class="Steak"><td>2014-03-12 13:01</td><td>Steak</td><td>All you can eat</td></tr>
        <tr class="Schnitzel"><td>2014-03-12 13:01</td><td>Schnitzel</td><td>All you can eat</td></tr>
        <tr class="Schnitzel"><td>2014-03-12 13:01</td><td>Schnitzel</td><td>All you can eat</td></tr>
        <tr class="Steak"><td>2014-03-12 13:01</td><td>Steak</td><td>All you can eat</td></tr>
        <tr class="Schnitzel"><td>2014-03-12 13:01</td><td>Schnitzel</td><td>All you can eat</td></tr>
        <tr class="Gemüse"><td>2014-03-12 13:01</td><td>Gemüse</td><td>All you can eat</td></tr>
        <tr class="Steak"><td>2014-03-12 13:01</td><td>Steak</td><td>All you can eat</td></tr>
        <tr class="Schnitzel"><td>2014-03-12 13:01</td><td>Schnitzel</td><td>All you can eat</td></tr>
        <tr class="Gemüse"><td>2014-03-12 13:01</td><td>Gemüse</td><td>All you can eat</td></tr>
        <tr class="Schnitzel"><td>2014-03-12 13:01</td><td>Schnitzel</td><td>All you can eat</td></tr>
        <tr class="Steak"><td>2014-03-12 13:01</td><td>Steak</td><td>All you can eat</td></tr>
        <tr class="Gemüse"><td>2014-03-12 13:01</td><td>Gemüse</td><td>All you can eat</td></tr>
        <tr class="Schnitzel"><td>2014-03-12 13:01</td><td>Schnitzel</td><td>All you can eat</td></tr>
        <tr class="Steak"><td>2014-03-12 13:01</td><td>Steak</td><td>All you can eat</td></tr>
      </tbody>
    </table>
  </div>
</div>
