<div id="topology-list" class="col-md-12">
  <ul class="static-filter">
    <li class="toggleLogging"><span class="glyphicon glyphicon-pause"></span></li>
    <li data-filter-value="*">Alles</li>
    <li class="input-filter"><input type="text" placeholder="Filter" class="text-filter"></li>
    <li data-filter-value="danger" class="pull-right">Fehler</li>
  </ul>
  <ul class="dynamic-filter">
  </ul>
  <div class="log-list">
    <table class="table table-striped table-hover">
      <thead>
        <tr>
          <th class="id">id</th>
          <th class="time">Zeit</th>
          <th class="bolt">Bolt</th>
          <th class="message">Message</th>
        </tr>
      </thead>
      <tbody>
        
      </tbody>
    </table>
  </div>
</div>
