@(t: Topology)

<div class="col-md-4">
  <div class="panel panel-primary">
    <div class="panel-heading" style="overflow:hidden">
      <span class="glyphicon glyphicon-file pull-left margin-right"></span>
      <h3 class="panel-title">@t.getName</h3>
      <a href="/deployment/delete/@t.getTitle" class="btn btn-danger btn-xs delete-topology">
        <span class="glyphicon glyphicon-trash"></span>
      </a>
    </div>
    <div class="panel-body">
      <table class="table">
        <tbody>
          <tr>
            <th>Erstellt am</th><td>@t.getDate</td>
          </tr>
          <tr>
            <th>Erstellt von</th><td>@t.getUser</td>
          </tr>
          <tr>
            <td colspan="2"><strong>Name auf Server</strong><br>@t.getTitle;</td>
          </tr>
        </tbody>
      </table>
    </div>
    <div class="panel-footer" style="overflow:hidden">
      <form class="ajax-form" action="/deployment/start/@t.getTitle" method="post">
        <div class="row">
          <div class="col-md-8">
            <input class="form-control" type="text" name="start_as" placeholder="ausführen als">
          </div>
          <div class="col-md-4">
            <button class="btn btn-default start-deployment pull-right" type="submit">
              <span class="glyphicon glyphicon-play"></span>
            </button>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>