@main("Server") {
  <div class="page-header">
    <h1>Server <small>starten, stoppen, Geld verbrennen</small></h1>
  </div>

  <h2>Manage Cluster:</h2>
  <div class="controls">
    <form action="/startserver">
      <div class="row">
        @server_control.panel("Nimbus", "col-md-6") {
          @server_control.button.render("Start Nimbus", "start_nimbus", "play")
          @server_control.button.render("Stop Nimbus", "stop_nimbus", "stop")
          @server_control.button.render("Reboot Nimbus", "reboot_nimbus", "repeat")
        }

        @server_control.panel("Cassandra", "col-md-6") {
          @server_control.button.render("Start Cassandra", "start_cassandra", "play")
          @server_control.button.render("Stop Cassandra", "stop_cassandra", "stop")
          @server_control.button.render("Reboot Cassandra", "reboot_cassandra", "repeat")
        }

        @server_control.panel("Supervisor", "col-md-12") {
          @server_control.number_of_supervisor_input()
          @server_control.button.render("Start Supervisor", "start_supervisor", "play")
          @server_control.button.render("Stop Supervisor", "stop_supervisor", "stop")
          @server_control.button.render("Reboot Supervisor", "reboot_supervisor", "repeat")
        }

        @server_control.panel("Cluster", "col-md-12") {
          @server_control.button.render("Start Cluster", "start_cluster", "play")
          @server_control.button.render("Stop Cluster", "stop_cluster", "stop")
          @server_control.button.render("Reboot Cluster", "reboot_cluster", "repeat")
        }
    </form>
  </div>
}