<div class="col-md-6" id="cassandra">
  <div class="panel panel-primary">
    <div class="panel-heading">
      <span class="glyphicon glyphicon-book pull-left margin-right"></span>
      <h3 class="panel-title">Cassandra</h3>
    </div>
    <div class="panel-body">
      <div class="row">
        <div class="col-md-12">
          <strong>Cassandra IP:</strong>
          <span id="server-cassandra-ip"></span>
        </div>

        <div class="col-md-12">
          <strong>Status:</strong>
          <span id="server-cassandra-status"></span>
        </div>
      </div>
    </div>
    <div class="panel-footer">
      @server_control.buttons.render("Cassandra", "cassandra")
    </div>
  </div>
</div>
