<div class="col-md-6" id="cassandra">
  <div class="panel panel-primary">
    <div class="panel-heading">
      <span class="glyphicon glyphicon-book pull-left margin-right"></span>
      <h3 class="panel-title">Cassandra</h3>
    </div>
    <div class="panel-body">
      <table class="table">
        <tr>
          <td>Cassandra IP:</td>
          <td id="server-cassandra-ip"></td>
        </tr>

        <tr>
          <td>Status:</td>
          <td id="server-cassandra-status"></td>
        </tr>
      </table>
    </div>
    <div class="panel-footer">
      @server_control.buttons.render("Cassandra", "cassandra")
    </div>
  </div>
</div>
