<div class="col-md-6" id="nimbus">
  <div class="panel panel-primary">
    <div class="panel-heading">
      <span class="glyphicon glyphicon-cloud pull-left margin-right"></span>
      <h3 class="panel-title">Nimbus</h3>
    </div>
    <div class="panel-body">
      <div class="row">
        <div class="col-md-12">
          <strong>Nimbus IP:</strong>
          <a href="" class="fancybox fancybox.iframe" id="server-nimbus-ip"></a>
        </div>

        <div class="col-md-12">
          <strong>Status:</strong>
          <span id="server-nimbus-status"></span>
        </div>
      </div>
    </div>
    <div class="panel-footer">
      @server_control.buttons.render("Nimbus", "nimbus")
    </div>
  </div>
</div>
