<div class="col-md-6" id="nimbus">
  <div class="panel panel-primary">
    <div class="panel-heading">
      <span class="glyphicon glyphicon-cloud pull-left margin-right"></span>
      <h3 class="panel-title">Nimbus</h3>
    </div>
    <div class="panel-body">
      <table class="table">
        <tr>
          <th>Nimbus IP:</th>
          <td>
            <span class="badge">
              <span href="" id="server-nimbus-ip"></span>
            </span>
            <a id="server-nimbus-ip-link" class="glyphicon glyphicon-zoom-in fancybox fancybox.iframe"></a>
          </td>
        </tr>

        <tr>
          <th>Status:</th>
          <td id="server-nimbus-status"></td>
        </tr>
      </table>
    </div>
    <div class="panel-footer">
      @server_control.buttons.render("Nimbus", "nimbus")
    </div>
  </div>
</div>
