<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="WARN" name="CIT-Storm">
    <Properties>
        <Property name="hostIP">192.168.1.1</Property>
        <Property name="hostPort">8000</Property>
    </Properties>

    <Appenders>
    <!-- The Root-Appender: Console Output -->
        <Console name="Console" target="SYSTEM_OUT">
            <PatternLayout pattern="%d{HH:mm:ss.SSS} [%t] %-5level %logger{36} - %msg%n"/>
        </Console>

        <File name="bolt" fileName="logs/Bolt.log">
            <PatternLayout pattern="%d{HH:mm:ss.SSS} [%t] %-5level %logger{36} - %msg%n"/>
            <ThresholdFilter level="info" />
        </File>



    <!-- Network Socket Appenders for the real Infrastructure -->
        <Socket name="boltSocket" host="${hostIP}" port="${hostPort}" protocol="TCP">
            <SerializedLayout />
            <ThresholdFilter level="info" />
        </Socket>

        <Socket name="spoutSocket" host="${hostIP}" port="${hostPort}" protocol="TCP">
            <SerializedLayout />
            <ThresholdFilter level="info" />
        </Socket>
    </Appenders>




    <Loggers>
        <Root level="error">
            <AppenderRef ref="Console"/>
        </Root>

        <logger name="Bolt" level="info" additivity="false">
            <AppenderRef ref="bolt" />
        </logger>

        <!-- Network Logging for the real Infrastructure: -->
        <logger name="Bolt" level="info" additivity="false">
            <AppenderRef ref="boltSocket" />
        </logger>
        <logger name="Spout" level="info" additivity="false">
            <AppenderRef ref="spoutSocket" />
        </logger>
    </Loggers>
</Configuration>