<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="WARN" name="CIT-Storm">

	<Properties>
		<Property name="hostIP">10.0.2.15</Property>
		<Property name="hostPort">3306</Property>
		<Property name="mysqlDB">log4j2</Property>
		<Property name="mysqlUser">log4j2</Property>
		<Property name="mysqlPass">log4j2</Property>
	</Properties>

	<Appenders>
		<JDBC name="databaseAppender" tableName="%mysqlDB">
			<DriverManager url="jdbc:mysql://localhost:3306/%mysqlDB"
				username="%mysqlUser" password="%mysqlPass" />
			<Column name="datetime" pattern="%d{yyy-MM-dd HH:mm:ss}" />
			<Column name="milliseconds" pattern="%d{SSS}" />
			<Column name="logger" pattern="%logger" />
			<Column name="level" pattern="%level" />
			<Column name="message" pattern="%message" />
		</JDBC>
	</Appenders>

	<Loggers>
		<Root level="trace">
			<AppenderRef ref="databaseAppender" />
		</Root>
	</Loggers>
	
</Configuration>