<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="warn" name="CIT-Storm">

	<Appenders>
		<JDBC name="databaseAppender" tableName="log4j2.citstorm">
			<ConnectionFactory class="de.tu_berlin.citlab.logging.ConnectionFactory" method="getConnectionStatic" />
			<Column name="datetime" pattern="%d{yyy-MM-dd HH:mm:ss}" />
			<Column name="milliseconds" pattern="%d{SSS}" />
			<Column name="logger" pattern="%logger" />
			<Column name="level" pattern="%level" />
			<Column name="message" pattern="%message" />
		</JDBC>
	</Appenders>

	<Loggers>
		<Root level="trace">
			<AppenderRef ref="databaseAppender" />
		</Root>
	</Loggers>
	
</Configuration>